@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');

:root{
  --text: #000000;
  --background: #FFFFFF;
  --container: #F3F3F3;
  --chat-pink: #FFDEDE;

  --chat-gray: #DCDCDC;
  --gray-200: #AAAAAA;
  --gray-300: #696969;

  --buttonLogin: #E7E7E7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px){
    font-size: 93.75%; //15px
  }
  @media (max-width: 720px){
    font-size: 87.5%; //14px
  }
}

body{
background: var(--background);
-webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

button{
  cursor: pointer;
}

ol, ul {
	list-style: none;
}