.container{
  max-width: 375px;
  width: 375px;

  height: 667px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hideLogin {
  display: none;
}

.logo{
  position: absolute;
  top: 120px;
  left: 120px;
}

.inputLogin { 
  width: 261px;
  height: 54px;

  margin-top: 200px;

  border: 1px solid #D7D7D7;
  border-radius: 4px;

  font-size: 18px;
  text-align: center;
  line-height: 25px;
}

.buttonLogin {
  width: 109px;
  height: 45px;

  margin-top: 20px;

  color: var(--gray-300);
  font-size: 18px;
  line-height: 25px;

  border: none;
  border-radius: 9px;
  background-color: var(--buttonLogin);
}