
.containerHome {
  max-width: 375px;
  width: 375px;

  padding: 80px 0;

  background-color: var(--container);

  display: none;
}

.showChat {
  display: inline;
}

.chatMessages{
  max-width: 375px;
  width: 375px;
  padding: 100px 0;
}

header {
  max-width: 375px;
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px;

  position: fixed;
  top: 0;
  left: 0;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  background-color: var(--background);
}

.logoChat {
  width: 75px;
  height: 53px;
}

ion-icon {
  font-size: 45px;
  cursor: pointer;
}

ul {
  max-width: 375px;
  width:375px;
}


.ulChats {
  overflow-y: hidden;
  overflow-x: scroll;
}

/* OCULTAR A BARRA */
.ulChats::-webkit-scrollbar  {
  display: none;
}


.ulChats::-moz-scrollbar  {
  display: none;
}


li {
  margin: 5px 0;
  border-radius: 2px;
  padding: 10px;

  display: flex;
  align-items: center;

  height: auto;
  min-height: 40px;
  background-color: var(--chat-gray);
}

li p {
  color: var(--text);
  font-size: 14px;
  line-height: 16.41px;

  word-break: break-all
}

li span {
  color: var(--gray-200);
}

.messageChat {
  max-width: 375px;
  width:375px;
  background-color: var(--background);
}

.messagePrivate {
  background-color: var(--chat-pink);
}

footer {
  max-width: 375px;
  width: 100%;
  height: 80px;

  padding: 0 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  left: 0;

  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  background-color: var(--background);
}

footer p {
  color: var(--gray-100);
  
  font-size: 15px;
  line-height: 25px;  
  font-weight: 300;
}

footer ion-icon {
  font-size: 26px;
  cursor: pointer;
}

.inputMessage {
  border: none;
  outline: none;

  width: 80%;

  font-size: 18px;
  line-height: 21px;
}

::-webkit-input-placeholder {
  color: var(--text);
  font-style: italic;
}



.navbar {
  max-width: 375px;
  width: 100%;
  height: 100vh;

  z-index: 9;

  position: fixed;
  top: 0;
  left: 0;
  background-color:#00000060 ;
}

.menu {
  max-width: 375px;
  width: 70%;
  height: 100vh;

  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--background);
  
  z-index: 9;
}

.menu-items li{
  background-color: var(--background);
}

.hideMenu {
  display: none;
}


.menu-items ion-icon {
  margin: 0 5px;
  font-size: 25px;
  cursor: pointer;
}

.text {
  margin: 35px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
}

.card {
  display: flex;
  align-items: center;
}

.checkmark-outline {
  display: none;
  color: var(--green);
}

.liVisibility {
  display: flex;
  justify-content: space-between;
}

.participants {
  overflow-x: scroll;
  height: 300px;
}

.liParticipant {
  display: flex;
  justify-content: space-between;
  
  min-height: 10px;
  height: auto;
  margin: 10px;
  padding: 0;
}

.showIconCheck {
  display: inline;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

