.container {
  max-width: 375px;
  width: 375px;

  background-color: var(--container);
}

header {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 15px;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  background-color: var(--background);
}

.logo {
  width: 75px;
  height: 53px;
}

ion-icon {
  font-size: 45px;
  cursor: pointer;
}

ul {
  max-width: 375px;
  width:375px;
}

li {
  margin: 5px 0;
  border-radius: 2px;
  padding: 10px;

  display: flex;
  align-items: center;

  height: auto;
  min-height: 40px;
  background-color: var(--chat-gray);
}

li p {
  color: var(--text);
  font-size: 14px;
  line-height: 16.41px;
}

li span {
  color: var(--gray-200);
}

.messageChat {
  background-color: var(--background);
}

.messagePrivate {
  background-color: var(--chat-pink);
}

footer {
  width: 100%;
  height: 80px;

  padding: 0 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  left: 0;

  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  background-color: var(--background);
}

input {
  border: none;
  outline: none;

  font-size: 18px;
  line-height: 21px;
}

::-webkit-input-placeholder {
  color: var(--text);
  font-style: italic;
}

footer ion-icon {
  font-size: 26px;
  cursor: pointer;
}

.navbar {
  max-width: 375px;
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  background-color:#00000060 ;
}

.menu {
  max-width: 375px;
  width: 70%;
  height: 100vh;

  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--background);
  
  z-index: 9;
}

.menu-items li{
  background-color: var(--background);
}

.hideMenu {
  display: none;
}

.menu-items p{
  margin: 35px 0;
}

.menu-items ion-icon {
  margin: 0 5px;
  font-size: 25px;
  cursor: pointer;
}

.menu-items p {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
}

.card {
  display: flex;
  align-items: center;
}

.checkmark-outline {
  display: none;
  color: var(--green);
}

.liVisibility {
  display: flex;
  justify-content: space-between;
}

.liParticipant {
  display: flex;
  justify-content: space-between;
}

.showIconCheck {
  display: inline;
}